.b-body { font-family:"Times New Roman", serif; !important; }
.b-body {
	background-color: transparent !important;
	background-image:url('none?rnd=1607190224') !important;
	background: none?rnd=1607190224 !important;
}
.body-background {
	background-color:#edf0fc !important;
	background-image:url('/olderfiles/3/orange37.jpg') !important;
	background-repeat:repeat !important;
}
.user_css_127555982144 {
	color:#ff005e !important;
	font-size:16px !important;
	border-color:#000000!important;
	background-repeat:repeat !important;
}
.user_css_127555982144 a {
	color:#ff005e !important;
	font-size:#16px !important;
}
.user_css_128499776835 {
	color:#4f540c !important;
	font-size:14px !important;
	border-color:#000000!important;
	background-repeat:repeat !important;
}
.user_css_128499776835 a {
	color:#4f540c !important;
	font-size:#14px !important;
}
.user_css_129112245467 {
	color:#7c05ab !important;
	border-color:#000000!important;
	background-repeat:repeat !important;
}
.user_css_129112245467 a {
	color:#7c05ab !important;
}
.user_css_129310588644 {
	color:#f9ff45 !important;
	border-color:#000000!important;
	background-image:url('/olderfiles/1/48fb7baf0435ef3aad309595f9191f83_7-70554.jpg') !important;
}
.user_css_129310588644 a {
	color:#f9ff45 !important;
}
.user_css_129553216667 {
	color:#000000 !important;
	border-color:#000000!important;
	background-image:url('/olderfiles/4/905.jpg') !important;
}
.user_css_129553216667 a {
	color:#000000 !important;
}
.user_css_131297252141 {
	color:#000000 !important;
	border-color:#000000!important;
	background-image:url('/olderfiles/3/Page-BgTexture.jpg') !important;
}
.user_css_131297252141 a {
	color:#000000 !important;
}
.user_css_131297271359 {
	color:#000000 !important;
	border-color:#000000!important;
	background-image:url('/olderfiles/3/Page-BgTexture.jpg') !important;
}
.user_css_131297271359 a {
	color:#000000 !important;
}
.user_css_131297663641 {
	color:#000000 !important;
	border-color:#000000!important;
	background-image:url('/olderfiles/3/Page-BgTexture.jpg') !important;
}
.user_css_131297663641 a {
	color:#000000 !important;
}
.user_css_131297785975 {
	color:#000000 !important;
	border-color:#000000!important;
	background-image:url('/olderfiles/3/Page-BgTexture.jpg') !important;
}
.user_css_131297785975 a {
	color:#000000 !important;
}
.user_css_131401597058 {
	color:#000000 !important;
	border-color:#000000!important;
	background-image:url('/olderfiles/1/knigi.gif') !important;
}
.user_css_131401597058 a {
	color:#000000 !important;
}
.user_css_131903639340 {
	color:#000000 !important;
	border-color:#000000!important;
	background-image:url('/olderfiles/1/Raduga.jpg') !important;
	background-position:0 0 !important;
	background-repeat:no-repeat !important;
}
.user_css_131903639340 a {
	color:#000000 !important;
}
/* ---------- user.css ---------------- */
